@import "reset.css";
@import "widgets.css";

html {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.4fr 0.4fr;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'aside';
  background-color: white;
}

a[href] {
  text-decoration: none;
  color: grey;
}

h1 {
  color: white;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: -0.094rem;
  padding: 0.2em;
}

header {
  grid-area: header;
  background-color: #1a1a1a;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #000000;
}

nav {
  grid-area: nav;
  margin-bottom: 1em;
}

main {
  grid-area: main;
  justify-content: center;
}

article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 60%;

}

article p {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.031rem;
}

aside {
  grid-area: aside;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

aside img {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
}
