@import "reset.css";
@import "widgets.css";

html {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.1fr 1fr;
  grid-template-areas:
    'header header'
    'nav nav'
    'main aside';
  background-color: white;
}

a[href] {
  text-decoration: none;
  color: grey;
}

h1 {
  color: white;
  font-size: 100px;
  padding: 0.5em;
}

header {
  grid-area: header;
  background-color: #ff4d4d;
}

nav {
  grid-area: nav;
  margin-bottom: 1em;
}

main {
  grid-area: main;
  justify-content: center;
  border-style: solid;
  border-color: grey;
  border-width: 0px 1px 0px 0px;
}

article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 60%;

}

article p {
  padding-top: 1em;
  padding-bottom: 1em;
}

aside {
  grid-area: aside;
  margin-top: 1em;
  margin-bottom: 1em;
  margin: auto;
  width: 60%;
}

aside img {
  width: 80%;
  height: auto;
}

footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
}
