* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #555;
}

body {
  background-color: #F48668;
}

.banner {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: baseline;
  background-color: white;
}

.banner h1 {
}

.banner p {
  padding: 10px;
  color: grey;
  text-transform: uppercase;
}

h1, h4 {
  color: #1e1e1e;
}

h1 {
  padding: 10px;
  font-size: 48px;
  font-weight:bolder;
}

a {
  text-decoration: none;
  color: #555;
}

.midPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contentBox {
  width: 300px;
  margin: 10px;
  padding: 10px;
  height: auto;
  text-align: left;
  background-color: white;
}

.contentBox:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #555;
}

.contentBox img {
  width: 300px;
  height: auto;
}
