* {
  padding: 0px;
  margin: 0px;
  /* border-style: solid;
  border-width: 1px; */
}

html {
  background-color: #F48668;
  font-family: 'Roboto', sans-serif;
}

#tagline, .gameCaption {
  color: gray;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  align-content: space-between;
}

header {
  padding: 10px;
  background-color: white;
}

h1 {
  font-size: 48px;
  font-weight:bolder;
  color: #1e1e1e;
}

#tagline {
  text-transform: uppercase;
  padding-left: 1em;
}

.content {
  text-align: center;
  margin: auto;
  /* font-family: 'Montserrat', sans-serif; */
  color: #1e1e1e;
}

#gamePanel {
  padding: 10px;
  margin: auto;
  display: block;
}

.gameColumn {
  padding: 10px;
  width: 250px;
  height: auto;
  text-align: left;
  background-color: white;
}

.gameCaption {
  /* max-width: 500px; */
}

.aboutTrigger:hover + #aboutBox {
  display: block;
}

#aboutBox {
  display: none;
}
