body {
    margin: 0;
    font-family: "Share Tech", sans-serif;
    background-color: #292a2b;
    color: rgb(255, 255, 255);
}

.topnav {
    display: flex;
    align-items:center;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #1d1d1d;

    border-bottom: 0.125pc solid rgb(0, 161, 35)
}

.topnav a {
    color: white;
    font-size: xx-large;
    /* display: block; enforce <p> layout */
    transition: 0.3s;
    text-decoration: none; /* hide link underscore */
    justify-self: center;
    padding-left: 2.5pc;
    padding-right: 2.5pc;
    padding-bottom: 2.5px;
}

.topnav a:hover {
    color: gray;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    background-color: #1d1d1d;
    text-align: center;
    margin-top: 40px;
}

.about {
    width: 100%;
}

.about .content {
    width: 60%;
    margin: 5% auto 0;
    text-align: justify;
    margin-top: 10%;
    font-size: x-large;
}

.about h1 {
    text-align: center;
}

.about .content .list {
    padding-top: 10px;
}

.published {
    text-align: center;
    width: 100%;
}

.published .content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.video {
    padding-top: 40px;
    width: 448px;
}

.video h3 {
    text-align: center;
    font-size: x-large;
}

.video iframe {
    width: 448px;
    height: 252px;
}

.tagset {
    align-content: flex-start;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; /* Optional: adds space between tags */
    row-gap: 5px;
}

.projects {
    width: 100%;
    background-color: #2e2e2e;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.projects .project {
    padding-top: 40px;
    width: 300px;
}

.projects h3 {
    text-align: center;
    font-size: x-large;
    height: 7%;
}

p {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}   

.tag p {
    padding: 5px;
    color: white;
    font-weight: 500;
}

@media (max-width: 768px) {
  .about .content {
    width: 95%;
    margin-top: 15%;
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .video,
  .video iframe {
    width: 100%;
    max-width: 448px;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .projects .project {
    width: 90%;
    max-width: 300px;
  }
}