html {
  background-color: #46466E;
}

.content {
  text-align: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: #BDBDD7;
  max-width: 800px;
}

#gamePanel {
  padding: 0;
  margin: auto;
  display: block;
}

a {
  color: #DD105E;
}
